---
import MetaTags from "@components/MetaTags.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";
import Analytics from "@components/Analytics.astro";
import SiteOptions from "../site.config.mjs"

const { title, description = SiteOptions.metadata.description } = Astro.props

const pageTitle = title ? `${title} | ${SiteOptions.metadata.name}` : SiteOptions.metadata.name;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{pageTitle}</title>
  <meta name="description" content={description} />

  <MetaTags title={pageTitle} description={description} />

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="alternate" type="application/rss+xml" title={SiteOptions.siteTitle} href={new URL("rss.xml", Astro.site)} />

  <ThemeSwitcher />
  <Analytics />
</head>
